{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@AcmeAssetBundle/Resources/sass/main.sass' output='css/packed/app.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2>Welcome to Symfony2 + Assetic experiments</h2>
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?closure' output='js/packed/app.js'
        '@AcmeAssetBundle/Resources/javascripts/main.js'
        '@AcmeAssetBundle/Resources/javascripts/grading.coffee' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
